site_name: rna_predict
theme: readthedocs
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Development:
    - Code Quality: code_quality_best_practices.md